@charset "UTF-8";

/* body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 300;
    font-style: normal;
} */


/* 共通 */
html {
    min-height: 100%;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

table,
th,
td {
    border: 1px solid;
}

img {

    display: inline;
}

ul {
    padding: 0;
}

.common-wrapper {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* ヘッダー */
#header {
    background-color: cadetblue;
}

.header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header-list {
    display: flex;
}

.header-list-item {
    margin-right: 20px;
}

.header-list-item a:hover {
    color: #fff;
}

/* main共通 */
.section-title {
    text-align: center;
    margin-bottom: 20px;
}

/* 自己紹介 */
.introduction-table {
    width: 100%;
}

.table-header {
    background-color: #f0e68c;
}

.table-header-contents {
    width: 30%;
}

/* 趣味 */
.hobby-outer {
    display: flex;
    gap: 10px;
}

.hobby-inner {
    width: 100%;
}

/* 座右の銘 */
.motto-text {
    font-size: 70px;
    text-shadow: 8px 1px #f4a460;
    text-align: center;
}

/* お気に入り動画 */
.button-outer {
    text-align: center;
}

.button {
    padding: 10px 50px;
    background-color: #f0e68c;
    border: 1px solid black;
    border-radius: 50px;
    position: relative;
}

.forward-button::after {
    content: ">";
    position: absolute;
    right: 15px;
}

.back-button::before {
    content: "<";
    position: absolute;
    left: 15px;
}

.button:hover {
    background-color: cadetblue;
    color: #fff;
}

/* javascript */
/* スライドショー */
.slideshow {
    text-align: center;
}

#slide-title {
    color: #f4a460;
}

/* アコーディオンメニュー */
.accordion {
    margin: 0 auto;
    width: 500px;
    height: auto;
    border: 1px solid;
    border-bottom: none;
}

.accordion-common {
    border-bottom: 1px solid black;
}

.menu {
    padding: 20px;
    background-color: rgb(149, 191, 193);
    position: relative;
}

.menu::after {
    content: "＋";
    position: absolute;
    right: 10px;
}

.menu:hover,
.menu.is-active {
    color: #fff;
    background-color: cadetblue;
}

.menu.is-active::after {
    content: "－";
    position: absolute;
    right: 10px;
}

.content {
    overflow: hidden;
    height: 0;
    background-color: rgb(238, 238, 238);
    transition: all .25s ease;
    text-align: center;
}

.content.is-open {
    overflow: visible;
    padding: 20px;
    height: auto;
}

/* フッター */
.footer {
    padding: 20px 0;
    background-color: cadetblue;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}